#MAIN POSTGRES
POSTGRES_URL=jdbc:postgresql://localhost:<порт_базы_данных>/<имя_базы_данных>
POSTGRES_DB=<имя_базы_данных>
POSTGRES_USER=<имя_пользователя>
POSTGRES_PASSWORD=<пароль>
POSTGRES_PORTS=<порт_базы_данных>:5432

#TEST POSTGRES
POSTGRES_TEST_URL=jdbc:postgresql://localhost:<порт_базы_данных_тест>/<имя_базы_данных_тест>
POSTGRES_TEST_DB=<имя_базы_данных_тест>
POSTGRES_TEST_USER=<имя_пользователя_тест>
POSTGRES_TEST_PASSWORD=<пароль_тест>
POSTGRES_TEST_PORTS=<порт_базы_данных_тест>:5432

#REDIS
REDIS_PORTS=<порт_redis>:6379
REDIS_PORT=<порт_redis>
REDIS_MAX_MEMORY=<максимальный_размер_памяти_redis>
REDIS_PASSWORD=<пароль_redis>

#JWT
JWT_SECRET_KEY=<секретный_ключ_jwt>
JWT_EXPIRATION_MILLIS=<срок_действия_токена_в_миллисекундах>

#FRONTEND
CLIENT_FRONTEND_PORTS=<порт_клиентского_фронтенда>:80
EMPLOYEE_FRONTEND_PORTS=<порт_сотруднического_фронтенда>:80

#BACKEND
BACKEND_PORTS=<порт_бэкенда>:8080